.names-container {
    .full-name {
      font-size: 26px;
      line-height: 30px;
      color: #333;
    }
  }
  .user-profile-bio {
    margin-bottom: 12px;
    overflow: hidden;
    font-size: 14px;
    color: #767676;
  }
  .user-profile-nav {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    .nav-item {
      font-size: 14px;
      color: #767676;
      vertical-align: middle;
      border-bottom: 2px solid transparent;
      padding: 16px 8px;
      margin-right: 16px;
      &.active {
        font-weight: 600;
        color: #24292e;
        border-bottom-color: #e36209;
      }
      &:hover, &:focus {
        color: #24292e;
        text-decoration: none;
        border-bottom-color: #d1d5da;
        transition: 0.2s ease;      
      }
    }
  }
  .counter {
    display: inline-block;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: #666;
    background-color: #eee;
    border-radius: 20px;
  }
  .repositoryContainer {
    .repos-list {
      padding: 0;
      font-size: 14px;
      .repo-item {
        width: 405px;
        .repo-item-content {
          .repo-language-color {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            position: relative;
            top: 2px;
            display: inline-block;
          }
          .repo-desc {
            flex: 1 0 auto;
          }
          .repo-meta+.repo-meta {
            margin-left: 16px;
            text-decoration: none;
            &:hover {
              color: #0366d6 !important;
            }
          }    
        }
      } 
    }
  }




  .text-small {
  font-size: 12px !important;
}

.empty-username,
.user-notfound {
  position: absolute;
  top: 25%;
  left: 45%;
}

.f12 {
  font-size: 12px !important;
}
.f14 {
  font-size: 14px !important;
}  
.octicon {
  display: inline-block;
  vertical-align: text-bottom;
  fill: currentColor;
}

ul, li {
  list-style-type: none;
}